<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sumerics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Sumerics.Properties.Settings>
            <setting name="LivePlotActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LivePlotHistory" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ConsoleFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="AutoSaveHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoEvaluateMIP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Accelerometer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Gyrometer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Inclinometer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Light" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Compass" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
        </Sumerics.Properties.Settings>
    </userSettings>
</configuration>