<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MahApps.Metro" version="0.10.1.11-ALPHA" targetFramework="net45" />
  <package id="NAudio" version="1.7.3" targetFramework="net45" />
  <package id="YAMP" version="1.5.2.27330" targetFramework="net45" />
  <package id="YAMP.Io" version="1.5.2.27814" targetFramework="net45" />
  <package id="YAMP.Physics" version="1.5.2.27812" targetFramework="net45" />
  <package id="YAMP.Sensors" version="1.5.2.27813" targetFramework="net45" />
</packages>